@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Sedgwick+Ave&family=Sedgwick+Ave+Display&display=swap');
@import "tailwindcss";

@theme {
    --font-atkinson: "Atkinson Hyperlegible", sans-serif;
    --font-sedgwick: "Sedgwick Ave", sans-serif;
    --font-sedgwickdisplay: "Sedgwick Ave Display", sans-serif;

    --color-mustard: oklch(0.7597 0.1214 80.3);
    --color-acid: oklch(0.8411 0.1486 105.36);
    --color-foliage: oklch(0.5186 0.1091 125.15);
    --color-lagoon: oklch(0.5119 0.12636 244.0494);
    --color-smoke: oklch(0.3128 0.0375 307.12);
    --color-night: oklch(0.2044 0.025 307.09);
    --color-cream: oklch(0.9365 0.0353 92.83);
}