@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Sedgwick+Ave&family=Sedgwick+Ave+Display&display=swap');
@import "tailwindcss";

@theme {
    --font-atkinson: "Atkinson Hyperlegible", sans-serif;
    --font-sedgwick: "Sedgwick Ave", cursive;
    --font-sedgwick-display: "Sedgwick Ave Display", cursive;

    --color-cream-50: oklch(99.42, 0.007, 88.64);
    --color-cream-100: oklch(95.5, 0.024, 94.06);
    --color-cream-200: oklch(93.65, 0.035, 92.83);
    --color-cream-300: oklch(91, 0.031, 92.94);
    --color-cream-400: oklch(85, 0.031, 92.95);
    --color-cream-500: oklch(79, 0.035, 92.83);
    --color-cream-600: oklch(68.5, 0.061, 93.57);
    --color-cream-700: oklch(54, 0.085, 92.65);
    --color-cream-800: oklch(39.2, 0.08, 93.62);
    --color-cream-900: oklch(20.85, 0.043, 91.86);
    --color-cream-950: oklch(11, 0.01, 91.86);

    --color-mustard-50: oklch(97.07, 0.028, 81.48);
    --color-mustard-100: oklch(92.77, 0.067, 80.02);
    --color-mustard-200: oklch(88.61, 0.109, 80.39);
    --color-mustard-300: oklch(84.35, 0.117, 79.87);
    --color-mustard-400: oklch(80.26, 0.117, 80.11);
    --color-mustard-500: oklch(75.98, 0.121, 80.09);
    --color-mustard-600: oklch(64.9, 0.134, 80.2);
    --color-mustard-700: oklch(50.18, 0.104, 80.54);
    --color-mustard-800: oklch(34.77, 0.072, 80.56);
    --color-mustard-900: oklch(21.17, 0.044, 80.35);
    --color-mustard-950: oklch(13.5, 0.02, 80.35);
    
    --color-acid-50: oklch(97, 0.107, 105.37);
    --color-acid-100: oklch(94.42, 0.145, 105.03);
    --color-acid-200: oklch(91.94, 0.145, 105.53);
    --color-acid-300: oklch(89.24, 0.145, 105.56);
    --color-acid-400: oklch(86.6, 0.145, 105.14);
    --color-acid-500: oklch(84.11, 0.149, 105.39);
    --color-acid-600: oklch(71.4, 0.152, 105.32);
    --color-acid-700: oklch(54.44, 0.116, 105.4);
    --color-acid-800: oklch(36.75, 0.078, 105.7);
    --color-acid-900: oklch(20.9, 0.044, 105.65);
    --color-acid-950: oklch(12.5, 0.01, 105.65);
    
    --color-moss-50: oklch(97.01, 0.076, 125.23);
    --color-moss-100: oklch(87.95, 0.105, 125.27);
    --color-moss-200: oklch(79.08, 0.105, 125.21);
    --color-moss-300: oklch(69.98, 0.105, 125.23);
    --color-moss-400: oklch(60.94, 0.105, 125.4);
    --color-moss-500: oklch(51.86, 0.109, 125.15);
    --color-moss-600: oklch(45.55, 0.115, 125.18);
    --color-moss-700: oklch(37.45, 0.095, 125.44);
    --color-moss-800: oklch(28.58, 0.072, 125.21);
    --color-moss-900: oklch(20.98, 0.052, 124.55);
    --color-moss-950: oklch(16, 0.03, 124.55);
    
    --color-lagoon-50: oklch(98, 0.019, 225.71);
    --color-lagoon-100: oklch(90, 0.081, 223.2);
    --color-lagoon-200: oklch(79.11, 0.09, 222.89);
    --color-lagoon-300: oklch(69.99, 0.09, 222.5);
    --color-lagoon-400: oklch(61.05, 0.09, 223.33);
    --color-lagoon-500: oklch(51.95, 0.094, 223);
    --color-lagoon-600: oklch(45.73, 0.085, 223.35);
    --color-lagoon-700: oklch(37.61, 0.07, 222.62);
    --color-lagoon-800: oklch(28.71, 0.054, 223.41);
    --color-lagoon-900: oklch(21, 0.039, 222.17);
    --color-lagoon-950: oklch(11, 0.02, 223);

    --color-night-50: oklch(96.95, 0.018, 306.67);
    --color-night-100: oklch(83.91, 0.032, 308.03);
    --color-night-200: oklch(70.8, 0.032, 306.96);
    --color-night-300: oklch(57.53, 0.034, 306.8);
    --color-night-400: oklch(44.35, 0.033, 306.52);
    --color-night-500: oklch(31.28, 0.037, 307.12);
    --color-night-600: oklch(25.5, 0.05, 307.6);
    --color-night-700: oklch(22, 0.045, 306.61);
    --color-night-800: oklch(19, 0.04, 307.09);
    --color-night-900: oklch(17, 0.04, 311);
    --color-night-950: oklch(13, 0.03, 311);
}